# Introduction to Python

This brief introduction to the Python programming language aims to explain the Python concepts required in Data Science in a concise manner

## Table of Content


1. Types of Numbers in Python

2. Common Math Operations

3. Comments in Python

4. Variables

5. Case-sensitivity

6. Data types

7. Built-in Data Structures

8. Built-in Functions

9. Conditions

10. Loops

11. Custom Functions

#### String


Strings have already been discussed earlier in the section for Comments. However, there are some operations called "methods" that we can perform on strings to help us manipulate strings the way we want.

There are several methods for manipulating strings but the most important methods have been given below:

The various string methods we shall look at are:

**slicing<br>
strip<br>
lstrip<br>
rstrip<br>
strip with character<br>
replace<br>
split(, maxsplit = ...)<br>
rsplit(, maxsplit)<br>
.join()<br>
.upper, .lower, .capitalize<br>
.islower, isupper<br>
isalpha, isnumeric, isalnum<br>
count()<br>
.find()<br>
.rfind()<br>
.startswith<br>
.endswith<br>
partition(seperator)<br>
f-strings<br>
swapcase()<br>
len()<br>**

In order to make use of the methods, it is imperative to always use a dot "." before using the name of the method.

For example, given a string "I am a boy". 

To make all the letters in the statement capitalized, we use the method **.upper()**. This is shown below:

In [1]:
"I am a boy".upper()

'I AM A BOY'

You might have noticed that the method .upper() has a bracket after it. For most methods in python, we have a bracket after them and this is just the convention. The bracket also serves other uses which will be discussed later on in this notebook.

For now, just know that there are brackets that accompany methods in most cases but in some cases, there might not be a bracket.

To explore these string methods in python, we shall use the string "My name is Modupe". We will assign it to a variable x.

This is so that we can work with variable x, instead of the actual string "My name is Modupe". 

The reason for doing this is mostly for convenience since it is easier to type x, instead of the statement "My name is Modupe".

In [3]:
x = "My name is Modupe"

**String Slicing:**

This is the a piece of code that helps us to divide strings up or retrieve only certain parts of a string. These portions of the strings are accessed using the **indices** of the string.

The **indices** of the string are the numbers that represent the position of the indvidual letters in the string.

For example,

in the string x = "My name is Modupe", The first "M" in the sentence takes up index 0. The "y" takes up index 1, the space after these two letters takes up index 2, next the "n" takes up index 3 and so on.

To access the indices from behind, we use negative numbers. The last letter "e" is indexed by -1, the letter "p" is indexed by -2, and so on.

In [4]:
x[0]

#x[1]

#x[5]

#x[-1]

#x[-2]

'M'

So far, we have been able to select the particular letter of the string that we want. But what if we want multiple letters? What if we want whole sections of a string but still not the entire thing? This is where string slicing really shines.

In this case, we select the index where we want the portion of string we want, to start from and then also choose the end index where you want the string to stop. So basically, you are left with the following syntax for string slicing:

string(beginning_index : end_index]. The colon (:) signifies that you want a range of indices between the beginning_index and the end_index.

In [5]:
#Slicing

x[3:5]

#x[0:]

#x[:-1]

#x[2: -1]

#x[3:-4]

'na'

**Strip:**

This is the functionality of removing either spaces or other specified characters from the beginning or end of a string. For example, if we had the following string:

@username

We can use strip to remove the at and then derive the username itself. We can also use strip on the following string:

HHData Science ClassHH

The strip() method can be used to remove the two h's on either side of the string "Data Science Class"


In the example given below, spaces have been placed at the beginning and end of the statement. The strip method removes the spaces after being run agains the string.

To remove other characters other than spaces, we can place the character itself in quotes within the brackets of the strip method. This is infact, how you deal with the "HHData Science ClassHH" or "username" examples given earlier. The syntax would be:

string.strip("HH") for HHData Science ClassHH and string.strip("@") for @username

In [6]:
#Strip, lstrip, rstrip, strip with character
x = "    My name is Modupe   "
x.strip()

'My name is Modupe'

In [107]:
x = "    My name is Modupe   "

x.strip()

#x.lstrip()

#x.rstrip()

'My name is Modupe'

In [7]:
x = "##My name is Modupe##"

x.strip("#")

'My name is Modupe'

**Replace:**

This is used to replace a letter/character within a string with another string. For example given a string "Ade", we can replace the letter "e" with the letter "a" in the following way:

string.replace("e", "a")

In [10]:
#Replace
x.replace("#", "*")

'**My name is Modupe**'

**Split:**

This is used to split a string into individual portions based on a specified separator. For example,

"Ade is a boy" can be separated by the space between each word by typing: string.split(" "). The result is:
("Ade", "is", "a", "boy")


We can also split by any other character as well.

In [110]:
#split, rsplit

x.split(" ")

#x.split(" ", 2)

#x.rsplit(" ", 2)

['##My', 'name', 'is', 'Modupe##']

**Join:**:

The join method bascially does the opposite of the split method. It takes a list of string items and then brings them together to form one singular string.

In [111]:
#join

y = ["John", "is", "a", "boy"]

" ".join(y)

'John is a boy'

In [112]:
string1 = " ".join(y)

string1.split("o")

['J', 'hn is a b', 'y']

**Upper**:

The upper method simply converts all the letters in a string to uppercase.


**Lower**:
The lower method converts all the letters in a string to lowercase.


**Capitalize**:
This method converts the first letter alone to uppercase and changes all others to lowercase


**Islower**:
This method checks if a string is completely in lowercase


**Isupper**:
This checks if a string is completely in uppercase

In [113]:
#Upper, Lower, Capitalize

x.upper()

#x.lower()

#x.capitalize()

'##MY NAME IS MODUPE##'

In [11]:
#isupper, islower

x.isupper()

#x.islower()

False

**Isalpha**:
Used to check if the expression inside a string is full of only letters of the alphabet

**Isnumeric**:
Used to check if the expression inside a string is full of only numbers. It does the same job as **Isdigit**. The difference between them is subtle enough to ignore for now.

**Isalnum**:
Used to check if the expression inside a string is full of letters and numbers at the same time.

In [115]:
#isalpha,isnumeric,isalnum,isdigit

x = "45, 56"

#x.isalpha()

x.isnumeric()

#x.isalnum()

#x.isdigit()

False

**Count**:

This is used to count all the occurences of a particular character in a string

In [116]:
#count
x = "My name is ModupMe Iyiola Priscillia"
x.count(" ")

#x.count("m")

5

In [117]:
for index, letter in enumerate(x):
    if letter == "M":
        print(f"The index is: {index}")

The index is: 0
The index is: 11
The index is: 16

**Find**:

This is used to return the index of a particular character within a string. It runs on a lazy algorithm that finds only the first instance of the character you are looking for without going further to see if the same character exists in the following portion of the string.

In [118]:
#Find

x.find("M")

x.rfind("M")

16

**Startswith**:

This is used to check if a string starts with a specified character or set of characters or not.



**endswith**:

This is used to check if a string ends with a speciifed character or set of characters or not.

In [119]:
#startswith

x.startswith("M")

True

In [120]:
#endsiwth

x.endswith("j")

False

**Partition**:

This is used to break a string down such that after finding the first occurrence of the separator, the string is split into 3 items in a list: The first set of string characters before the first instance of the separator, the separator itself, and the remaining part of the string

In [121]:
#partition by a character or word

x.partition(" ")

('My', ' ', 'name is ModupMe Iyiola Priscillia')

**F-strings**:

These are strings that allow you to add another string to them as a variable.

In [1]:
#F-strings
x = "Tola"
#f"{x}"

y = "Tolu"

f"{x} and {y} are my friends"

'Tola and Tolu are my friends'

**Swapcase**:

This is a method that allows us to make the capitalized letters, become lowercase and at the same time, make lowercase letters become capitalized, which in effect, switches the cases of the letters, hence its name "swapcase". For example,

"JAre" is swapped to become "jaRE"

In [123]:
#Swapcase

x[0:10].swapcase() + x[10:]

'mY NAME IS ModupMe Iyiola Priscillia'

In [124]:
50 + 35

85

**Len**:

The Len method is used to calculate the length of a string. This counts all the instances of letters, spaces, and any other character within the quotation marks representing the string.

In [125]:
#len

len(x)

36

In [126]:
len("Ben is a boy")

12

**STRING CONCATENATION**:

This is the process of adding two pieces of string together to get a larger string. For example "40" + "20" will not give us "60", but rather, it will give us "4020" because these are numbers which are strings. Python strings can only perform string concatenation when the "+" sign is used.

In [127]:
first_name = "Olujare"

last_name = "Dada"


first_name + " " + last_name

'Olujare Dada'

**Using String manipulation and the already discussed techniques in Pandas**

So far, you might be wondering why we are learning some of these string manipulation techniques among the other things discussed earlier.

On their own, these concepts are not very useful and this is why using them to solve certain examples that come up in reality is a good way to understand their usefulness.

Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It helps us to visualize the datasets we have in tabular form. It also provides a number of data mining, manipulation, and cleaning functionalities which will be useful for us in our journey.

Some of these are discussed below, as they concern a number of topics already covered.

The next line of code is not compulsory to know just yet, but it is well-described for all who are interested.

This code bit is for initializing pandas and then telling pandas to read our dataset file.

In [12]:
#This line initializes pandas and all its functionalities. This is how many packages for data science and python in general
#are initialized.

#Normally, using only "import pandas" would be good enough but we use "as pd" to create an alias for pandas within our code.
#This is so as to help us refer to pandas in our code by just typing "pd" instead of typing the full name "pandas"
import pandas as pd



#Here, we use the alias of pandas, "pd", to read our .csv file which contains the data we want to analyze. This is the standard
#method for importing .csv data into pandas. We shall look into other data formats and other slightly more complicated data
#imports in later classes.
data = pd.read_csv("working_with_tables.csv")



#data.head() is simply telling pandas that we want to view the first 5 rows of the data

data.head()

    Firstname Lastname   age  sales   cost
0  Olanrewaju   Kazeem  [24]  15000  11000
1     Chibuzo   Ekenne  [30]  25800  15200
2  Onyinyechi     Amos  [22]  45000  28000
3     Orlando    Bloom  [25]  28000  22000
4        Alex    Iwobi  [34]  36500  18850

Pandas has displayed the table for us. The table contains 5 rows: row 0, row 1, row 2,..., row 4. The table contains 5 columns:
"Firstname", "Lastname", "age", "sales", "cost". **It is important to note that rows are the horizontal fields while columns are the vertical fields in the dataset, always**

From the above table, straightaway, we can see that the ages are in square brackets which are not the best for analysis. Also, we can also see that the first and last names of each person are separated. Sometimes, it might make sense to join them together. Lastly, we might also want to calculate the revenue generated by each sales representative by subtracting the cost from the amount of sales made.


For these 3 things outlined above, we already have enough information to solve them with relative ease. We shall go through each problem sequentially with simple steps to follow.

But first, we must discuss how to access each column.

In [10]:
data["Firstname"] #This displays all the values in the "Firstname" column

#data["Lastname"] #This displays all the values in the "Lastname" column

#data["sales"] #This displays all the values in the "age" column

0       Kazeem
1       Ekenne
2         Amos
3        Bloom
4        Iwobi
5        Felix
6         Dada
7      Sogaolu
8    Kupolokun
9      Dickson
Name: Lastname, dtype: object

Object in pandas is a string

While there are more ways to access columns and even rows from the dataset, the above examples suffice for now.

In [11]:
x = "I am a boy"

x[0:4]

'I am'

In [130]:
data["Firstname"].str[0:4]

0    Olan
1    Chib
2    Onyi
3    Orla
4    Alex
5    Kach
6    Oluj
7    Tomi
8    Timi
9    Nnen
Name: Firstname, dtype: object

In [131]:
firstname = "olujare"
lastname = "dada"

x = firstname + " " + lastname

x

'olujare dada'

### Sorting out the Names


Remember string concatenation? Well, that is what we shall use to join the first and last names together. The only difference is that instead of creating our own variables like x = "Aiex" and y = "Iwobi" and then saying x + " " + y = "Alex Iwobi", rather, we use the table column names as our variables.

Using the table column names ensures that the entire change is made throughout the entire table. An example of this is displayed below:

In [18]:
data["Firstname"] + " " + data["Lastname"]

0      Olanrewaju Kazeem
1         Chibuzo Ekenne
2        Onyinyechi Amos
3          Orlando Bloom
4             Alex Iwobi
5            Kachi Felix
6           Olujare Dada
7         Tomiwa Sogaolu
8    Timilehin Kupolokun
9          Nnena Dickson
dtype: object

This has produced a similar result to our string concatenation discussed earlier. However, it is important to note that:
**Pandas has not made this change permanent yet. We can easily spot when pandas has not made a data manipulation step permanent because it returns the tabular result of whatever manipulation we are after. If we want the change to be permanent, we should equate the data manipulation step to a new column name**

This step is carried out below. But we will check if the string concatenation we performed had any impact on our table.

In [133]:
data.head()

    Firstname Lastname   age  sales   cost
0  Olanrewaju   Kazeem  [24]  15000  11000
1     Chibuzo   Ekenne  [30]  25800  15200
2  Onyinyechi     Amos  [22]  45000  28000
3     Orlando    Bloom  [25]  28000  22000
4        Alex    Iwobi  [34]  36500  18850

Clearly, the data manipulation step did not work. As a result, we need to assign the result of the data manipulation to another column name. This is done below:

In [19]:
data["Fullname"] = data["Firstname"] +" "+ data["Lastname"]

In [20]:
data.head()

    Firstname Lastname   age  sales   cost           Fullname
0  Olanrewaju   Kazeem  [24]  15000  11000  Olanrewaju Kazeem
1     Chibuzo   Ekenne  [30]  25800  15200     Chibuzo Ekenne
2  Onyinyechi     Amos  [22]  45000  28000    Onyinyechi Amos
3     Orlando    Bloom  [25]  28000  22000      Orlando Bloom
4        Alex    Iwobi  [34]  36500  18850         Alex Iwobi

In [13]:
data.dtypes

Firstname    object
Lastname     object
age          object
sales         int64
cost          int64
dtype: object

In [ ]:
"#I like cats#".strip("#")

### Sorting out Ages


We can see that the ages of the sales representatives are in square brackets. We can use the .strip method discussed in string methods above. We just need to signify what character we are stripping away from the values in ages column. In this case, we want to get rid of the square brackets. This is done below:

In [24]:
data["age"].str.strip("[")

0    24]
1    30]
2    22]
3    25]
4    34]
5    50]
6    28]
7    42]
8    49]
9    39]
Name: age, dtype: object

In [25]:
data["age"].str.strip("]")

0    [24
1    [30
2    [22
3    [25
4    [34
5    [50
6    [28
7    [42
8    [49
9    [39
Name: age, dtype: object

Notice that there is a method "str" being used before we apply the standard python string method, strip. This ".str" is used to access each value in the column we are interested in as individual strings that python can work on. Put differently, because we use ".str", we are able to apply standard python string methods on each string within a column. Without it, no python string method can work on a pandas table. So "str" helps us to access the strings in the tables, which then helps us to use the standard python string methods discussed above.

Now, all that is left to do is to assign the result to the table column name to make the changes parmanent.

In [27]:
data["age"] = data["age"].str.strip("[")

data["age"] = data["age"].str.strip("]")

data.head()

    Firstname Lastname age  sales   cost           Fullname
0  Olanrewaju   Kazeem  24  15000  11000  Olanrewaju Kazeem
1     Chibuzo   Ekenne  30  25800  15200     Chibuzo Ekenne
2  Onyinyechi     Amos  22  45000  28000    Onyinyechi Amos
3     Orlando    Bloom  25  28000  22000      Orlando Bloom
4        Alex    Iwobi  34  36500  18850         Alex Iwobi

***NOTE: IT IS ONLY WHEN YOU NEED TO USE STRING METHODS THAT YOU NEED ".str". OTHER CALCULATIONS JUST REQUIRE WORKING WITH THE COLUMN NAMES ALONE***

### Creating the Revenue column


Here, we again use one of the concepts we have learned earlier. This time, we are subtracting real numbers, not strings.

Therefore, just as we did with the string columns, we do not need to create new variables for this operation, we only need to use the name of the columns in the table.

In [28]:
data["sales"] - data["cost"]

0     4000
1    10600
2    17000
3     6000
4    17650
5    11017
6     1700
7    15659
8    12389
9    36300
dtype: int64

In [29]:
data["Revenue"] = data["sales"] - data["cost"]

data.head()

    Firstname Lastname age  sales   cost           Fullname  Revenue
0  Olanrewaju   Kazeem  24  15000  11000  Olanrewaju Kazeem     4000
1     Chibuzo   Ekenne  30  25800  15200     Chibuzo Ekenne    10600
2  Onyinyechi     Amos  22  45000  28000    Onyinyechi Amos    17000
3     Orlando    Bloom  25  28000  22000      Orlando Bloom     6000
4        Alex    Iwobi  34  36500  18850         Alex Iwobi    17650

We have subtracted the Cost column from the Sales column and it has given us the Revenue column. However, we can also perform other simple arithmetic tasks such as addition, multiplication and division.

### Homework

Use the working_with_tables_homework.csv file to answer the following questions.

Generate a string of your choice. Then perform the following operations on the string.

- Write a program to calculate the length of the string

- Write a program to get a string made of the first 2 and last 2 characters
from a given string.

- Write a program to get a string made of the first 2, a middle letter,
and last 2 characters from a given string.

- Write a python program to add "ing" at the end of a given string.

- Write a python program to remove the nth index character from a string.


- Create a new column that generates the initials of the sales representatives. The initials must be in the form:

> The first letter of their first name + . + The first letter of their last name. For example:
> Olanrewaju Kazeem would be: O.K


- If the commision that each sales representative is entitled to is 15% of the revenue generated, create a new column that generates this commission column.


- Suppose we are interested in knowing the character length of each peron's fullname for the new app the company is creating, create a new column containing the character length for each sales representative.


- In the new app to be created, the first 4 characters of the employee's full name is to be used as user name along with the first 4 characters of the employee's last name. These two pairs of 4 characters must be separated by an underscore. For example,

> Olanrewaju Kazeem will have a username of: Olan_Kaze
> - Create a new column that contains this new username.

In [12]:
import pandas as pd


data = pd.read_csv("working_with_tables_homework.csv")

In [18]:
data.head()

    Firstname Lastname   age  sales   cost                     email Initials
0  Olanrewaju   Kazeem  [24]  15000  11000    olankaz248@outlook.com      O.K
1     Chibuzo   Ekenne  [30]  25800  15200  chiman_ekeneks@yahoo.com      C.E
2  Onyinyechi     Amos  [22]  45000  28000      onyiamos22@gmail.com      O.A
3     Orlando    Bloom  [25]  28000  22000      earlyman01@ymail.com      O.B
4        Alex    Iwobi  [34]  36500  18850    iwo.alex_007@gmail.com      A.I

In [24]:
data["Fullname"] = data["Firstname"] + " " + data["Lastname"]

In [29]:
data["Username"] = data["Firstname"].str[:4] + "_" + data["Lastname"].str[:4]

data.head()

,Firstname,Lastname,age,sales,cost,email,Initials,Revenue,Commission,Fullname,Name Length,Username
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,O.K,4000,600.0,Olanrewaju Kazeem,17,Olan_Kaze
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,C.E,10600,1590.0,Chibuzo Ekenne,14,Chib_Eken
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,O.A,17000,2550.0,Onyinyechi Amos,15,Onyi_Amos
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,O.B,6000,900.0,Orlando Bloom,13,Orla_Bloo
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,A.I,17650,2647.5,Alex Iwobi,10,Alex_Iwob

In [21]:
import pandas as pd


data = pd.read_csv("working_with_tables_homework.csv")

data["Initials"] = data["Firstname"].str[0] + "." + data["Lastname"].str[0]

data

,Firstname,Lastname,age,sales,cost,email,Initials
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,O.K
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,C.E
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,O.A
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,O.B
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,A.I
5,Kachi,Felix,[50],44235,33218,felix_kach@protonmail.com,K.F
6,Olujare,Dada,[28],27500,25800,olu59_dada@zohomail.com,O.D
7,Tomiwa,Sogaolu,[42],50509,34850,tommySolu@icloudmail.com,T.S
8,Timilehin,Kupolokun,[49],88390,76001,timikupo11@outlook.com,T.K
9,Nnena,Dickson,[39],122200,85900,nene33@gmail.com,N.D

In [25]:
data["Revenue"] = data["sales"] - data["cost"]

data["Commission"] = data["Revenue"]*0.15

data

,Firstname,Lastname,age,sales,cost,email,Initials,Revenue,Commission
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,O.K,4000,600.00
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,C.E,10600,1590.00
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,O.A,17000,2550.00
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,O.B,6000,900.00
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,A.I,17650,2647.50
5,Kachi,Felix,[50],44235,33218,felix_kach@protonmail.com,K.F,11017,1652.55
6,Olujare,Dada,[28],27500,25800,olu59_dada@zohomail.com,O.D,1700,255.00
7,Tomiwa,Sogaolu,[42],50509,34850,tommySolu@icloudmail.com,T.S,15659,2348.85
8,Timilehin,Kupolokun,[49],88390,76001,timikupo11@outlook.com,T.K,12389,1858.35
9,Nnena,Dickson,[39],122200,85900,nene33@gmail.com,N.D,36300,5445.00

In [29]:
data["Fullname"] = data["Firstname"] + " " + data["Lastname"]
data["Name_length"] = data["Fullname"].apply(lambda x: len(x) - 1)

data

,Firstname,Lastname,age,sales,cost,email,Initials,Revenue,Commission,Fullname,Name_length
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,O.K,4000,600.00,Olanrewaju Kazeem,16
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,C.E,10600,1590.00,Chibuzo Ekenne,13
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,O.A,17000,2550.00,Onyinyechi Amos,14
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,O.B,6000,900.00,Orlando Bloom,12
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,A.I,17650,2647.50,Alex Iwobi,9
5,Kachi,Felix,[50],44235,33218,felix_kach@protonmail.com,K.F,11017,1652.55,Kachi Felix,10
6,Olujare,Dada,[28],27500,25800,olu59_dada@zohomail.com,O.D,1700,255.00,Olujare Dada,11
7,Tomiwa,Sogaolu,[42],50509,34850,tommySolu@icloudmail.com,T.S,15659,2348.85,Tomiwa Sogaolu,13
8,Timilehin,Kupolokun,[49],88390,76001,timikupo11@outlook.com,T.K,12389,1858.35,Timilehin Kupolokun,18
9,Nnena,Dickson,[39],122200,85900,nene33@gmail.com,N.D,36300,5445.00,Nnena Dickson,12

In [32]:
data["Username"] = data["Firstname"].str[0:4] + "_" + data["Lastname"].str[0:4]

data

,Firstname,Lastname,age,sales,cost,email,Initials,Revenue,Commission,Fullname,Name_length,Username
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,O.K,4000,600.00,Olanrewaju Kazeem,16,Olan_Kaze
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,C.E,10600,1590.00,Chibuzo Ekenne,13,Chib_Eken
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,O.A,17000,2550.00,Onyinyechi Amos,14,Onyi_Amos
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,O.B,6000,900.00,Orlando Bloom,12,Orla_Bloo
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,A.I,17650,2647.50,Alex Iwobi,9,Alex_Iwob
5,Kachi,Felix,[50],44235,33218,felix_kach@protonmail.com,K.F,11017,1652.55,Kachi Felix,10,Kach_Feli
6,Olujare,Dada,[28],27500,25800,olu59_dada@zohomail.com,O.D,1700,255.00,Olujare Dada,11,Oluj_Dada
7,Tomiwa,Sogaolu,[42],50509,34850,tommySolu@icloudmail.com,T.S,15659,2348.85,Tomiwa Sogaolu,13,Tomi_Soga
8,Timilehin,Kupolokun,[49],88390,76001,timikupo11@outlook.com,T.K,12389,1858.35,Timilehin Kupolokun,18,Timi_Kupo
9,Nnena,Dickson,[39],122200,85900,nene33@gmail.com,N.D,36300,5445.00,Nnena Dickson,12,Nnen_Dick

### Built-in Data Structures


These are simply objects in python that help us store and manipulate data.

So far, we have discussed how numbers and strings themselves can be manipulated and stored in variables. This level of manipulation and storage is not sufficient for Data Science. We are going to be working with millions of rows and columns of data and simply working with variable assignment and string manipulation won't cut it. This is one of the main reasons we need to learn Data Structures.


For now, we would focus on the Built-in Data Structures within the Python programming language. These structures have parallels in other programming languages as well. So they are universal for anyone trying to use a programming language to achieve anything at all, from website creation, to hacking.


The 4 major Data Structures are:

- Lists

- Tuples

- Sets

- Dictionaries

#### Lists:


This is simply a collection of items. Items could be numbers, strings, or any other type of objects we have yet to discuss in python.

It has certain properties that sets it appart from other Data Structures, but these properties will be discussed later. For now, we introduce these data structures.

**A list with numbers:**

In [141]:
A = [2, 4, 6, 8]

A

[2, 4, 6, 8]

In [142]:
type(A)

list

**A list with strings:**

In [143]:
B = ["Modupe", "Iyiola", "Priscillia"]

B

['Modupe', 'Iyiola', 'Priscillia']

A list can contain a mixture of numbers and strings and even other lists. It can contain a Tuple, a Set or Dictionaries.

In [144]:
y = ["kunle", 5, 10.5, ["another list", "is", "in", "this", "list y"]]
y

['kunle', 5, 10.5, ['another list', 'is', 'in', 'this', 'list y']]

**Tuple**:

This can also hold any type of objects just like a list. And just like lists, it has its set of unique properties discussed later

In [145]:
C = (2, 4, 7, 8)

C

(2, 4, 7, 8)

**Sets**:


This is another collection of items, only this time, the items must not be duplicated and they must be arranged in ascending order

In [146]:
D = {2, 1, "two", 2, 3, 3, 0}

D

{0, 1, 2, 3, 'two'}

**Dictionaries**:

A dictionary contains key-value pairs. A value can easily be accessed via its key. For the example given below, the keys are: "one", "two", and "three", while the values are 1, 2 and 3 respectively.

In [147]:
E = {"one": 1, "two" : 2, "three": 3}

E

{'one': 1, 'two': 2, 'three': 3}

**Properties of Data Structures**:


**List**:
- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.


**Tuple**:

- Ordered, 
- Unchangeable
- Allow duplicate values.


**Set**:
- Sets are unordered, as a result, they cannot be indexed.
- Set elements are unique. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an immutable type.


**Dictionary**:
- Dictionaries are unordered.
- Keys are unique.
- Keys must be immutable. 
- Values of dictionaries can be accessed by the keys


Below, we shall proceed to explain these properties.

**List**

In [43]:
# Lists are ordered

L = ["a", "c", "b"]

M = ["a", "b", "c"]

N = ["a", "b", "c"]

L == M

M == N

True

In [44]:
# Lists can contain any arbitrary objects.

L = ["one", 2, "three", 4, None]

L

['one', 2, 'three', 4, None]

In [45]:
# Lists are accessed by index

L[0]

L[1]

L[2]

L[3]

4

In [46]:
# Lists can be nested

M = ["Father", "Mother", ["Brother", "Sister"]]

M[0]

M[1]

M[2]

M[2][0]

M[2][1]

'Sister'

In [47]:
# Lists can be mutable or changeable

N = ["Apple", "Samsung", "Nokia"]

N += M

N

['Apple', 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister']]

In [48]:
N[0] = 1

N

[1, 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister']]

**Tuple**

In [49]:
# Tuples are ordered

T = (1, "a", 2, "b")

U = (1, 2, "a", "b")

T == U

False

In [50]:
# Tuples are unchangeable

T[1] = 19

TypeError: 'tuple' object does not support item assignment

In [51]:
# Allow duplicates
R = (1, 1, 4, 2, 4, 4, 2)

R

(1, 1, 4, 2, 4, 4, 2)

In [52]:
R[2] #Tuples can be indexed

4

Sets

In [53]:
D = {2, 1, "two", 2, 3, 3, 0}

D #Duplicates have been removed

{0, 1, 2, 3, 'two'}

In [54]:
D[2] #sets cannot be indexed

TypeError: 'set' object is not subscriptable

In [55]:
D.add(13)  #Sets can only be updated the other elements previously in the set cannot be changed.

D

{0, 1, 13, 2, 3, 'two'}

In [56]:
K = {1, 2, 0, "two", 3, 2, 3}
D = {2, 1, "two", 2, 3, 3, 0}

#Sets are unordered. This is why the exact same set representations are equal
K == D

True

**Dictionary**:

In [57]:
E = {"one": 1, "two" : 2, "three": 3}

#Keys are unique
E["one"] = 2 # Dictionaries can be indexed using their keys

E

{'one': 2, 'two': 2, 'three': 3}

Notice that when we try to create another element in the dictionary that has the same key but a different value, the value attached to the key "one" just got updated instead of creating duplicate keys with different values.

**Operations with lists and list methods**

- append: This is used to add a new element to the end of a list.
- clear: This is used to remove all the elements within a list.
- copy: This is used to make a copy of a list.
- count: This is used the number of instances of an element within a list.
- extend: This adds all the elements of an iterable (list, tuple, string etc.) to the end of the list
- index: This is used to return the index of a specified element within a list.
- insert: This is used to insert the specified value at the specified position. Syntax. list.insert(pos, elmnt).
- pop: This is used to remove the last element added to the list.
- remove: This is used to remvoe a specific element from the list.
- reverse: This is used to reverse the order of a list.
- sort: This is used to sort a list in ascending or descending order.

#### Applying list methods

In [61]:
N

[1, 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister']]

In [63]:
N.append("Last_element")

print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister'], 'Last_element', 'Last_element']

In [65]:
h = N.copy()

h.clear()

print(h)

[]

In [68]:
N.count("Sam")

0

In [77]:
N.extend(["Cousin", "Iphone", "Uncle"])

print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Grandmother', 'Mother', ['Brother', 'Sister'], 'Last_element', 'Cousin', 'Iphone', 'Uncle']

In [71]:
#L = L + N

L += N

print(L)

['one', 2, 'three', 4, None, 1, 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister'], 'Last_element', 'Last_element', 'Cousin, Iphone, Uncle']

In [72]:
L.index("Nokia")

7

In [73]:
print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister'], 'Last_element', 'Last_element', 'Cousin, Iphone, Uncle']

In [78]:
N.insert(4, "Grandmother")

print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Grandmother', 'Grandmother', 'Mother', ['Brother', 'Sister'], 'Last_element', 'Cousin', 'Iphone', 'Uncle']

In [81]:
N.pop()
print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Grandmother', 'Grandmother', 'Mother', ['Brother', 'Sister'], 'Last_element']

In [82]:
N.remove("Grandmother")

print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Grandmother', 'Mother', ['Brother', 'Sister'], 'Last_element']

In [83]:
print(N)

[1, 'Samsung', 'Nokia', 'Father', 'Grandmother', 'Mother', ['Brother', 'Sister'], 'Last_element']

In [86]:
N.reverse()

print(N)

['Last_element', ['Brother', 'Sister'], 'Mother', 'Grandmother', 'Father', 'Nokia', 'Samsung', 1]

In [88]:
N.remove(["Brother", "Sister"])

In [90]:
print(N)

['Father', 'Grandmother', 'Last_element', 'Mother', 'Nokia', 'Samsung', 1]

In [91]:
N.remove(1)

In [92]:
N.sort()

print(N)

['Father', 'Grandmother', 'Last_element', 'Mother', 'Nokia', 'Samsung']

In [ ]:
x = "Father"

N.append(x)
N.append(x)

N.count(x)

In [ ]:
N.extend(L)
print(N)

In [ ]:
N.index("Father")

In [ ]:
N.insert(10, "Jare")
print(N)

In [ ]:
N.remove("Nokia")

print(N)

In [ ]:
N.reverse()

print(N)

In [ ]:
L

In [ ]:
L.remove("one")
L.remove("three")
L.pop()

L.append(44)
L.append(1000)
L.append(300)


L.sort()

L

In [ ]:
L.sort(reverse = True)

L

### Operations and Methods with Sets


- add: This is used to add a single value to the elements of a set.
- clear: This is used to clear all the elements of a set.
- copy: This is used to make an extra copy of a set
- difference: Returns a set containing the difference between two or more sets
- difference_update: Removes the items in this set that are also included in another, specified set
- discard: This is used to remove an element from a set. Just like remove().
- intersection: This is used to find the common elements between two sets.
- intersection_update: Removes the items in this set that are not present in other, specified set(s)
- isdisjoint: Is used to check if two sets do not have any common elements.
- issubset: Is used to check if a set is the subset of another set. If set A is a subset of set B, then, all of set A's elements can be found in set B.
- issuperset: Is used to check if a set is the superset of another set. If set A is a superset of set B, then, set A at least contains all the elements of set B, and contains some extra elements not found in set B.
- pop: Remove a random element from a set
- remove: To remove a specified element from a set
- symmetric_difference: The set which contains the elements which are either in set A or in set B but not in both
- symmetric_difference_update: This takes the symmetric difference and applies it to create a new set entirely.
- union: This is for creating a combination of all the unique elements of two or more sets.
- update: This is used to add sequence values to a set such as any iterables including list , tuple , string , dict etc.

#### Applying set methods

In [96]:
D.add("efgfreefg")
D.add(0)
D.add(2)
D.add("two")
D.add(1)
D

{0, 1, 2, 'efgfreefg', 'two'}

In [95]:
D.clear()
print(D)

set()

In [97]:
X = D.copy()
print(X)

{0, 1, 2, 'two', 'efgfreefg'}

In [116]:
X = {1,2,3,4,5} 
Y = {2,3,4,5,6}

X.difference(Y)

#Y.difference_update(X)

{1}

In [104]:
X.discard(1)

print(X)

{2, 3, 4, 5}

In [106]:
X.intersection(Y)

{2, 3, 4, 5}

In [107]:
X.isdisjoint(Y)

False

In [110]:
C = {1,2,3,4,5,6,7,8,9}

C.issubset(X)

False

In [119]:
Y.pop()

print(Y)

{5, 6}

In [125]:
X.remove(3)

X

{1, 2, 4, 5}

In [126]:
X.symmetric_difference(Y)

{1, 2, 4, 6}

In [128]:
X.union(Y)

{1, 2, 4, 5, 6}

In [129]:
X.update([11,12,13,14,9])

X

{1, 2, 4, 5, 9, 11, 12, 13, 14}

In [226]:
F.union(D,y,V)

{0,
 1,
 13,
 15,
 2,
 28,
 'Florence',
 'I ',
 'Mr. Adams',
 'Mrs. Olaitan',
 'Olujare',
 'Priscillia',
 'Seun',
 'two'}

In [228]:
y.update(["zero", "one", "thirteen", "fifteen"])
y

{1, 13, 15, 28, 'I ', 'fifteen', 'one', 'thirteen', 'zero'}

In [171]:
y = {0, 1, 13, 15, 28, "I "}

In [192]:
F = {"Olujare", "Seun", "Mr. Adams", "Florence"}

V = {"Priscillia",  "Florence", "Mrs. Olaitan", "Seun"}

F.isdisjoint(V)

False

In [196]:
B = {"Seun", "Mr. Adams"}

B.issuperset(F)

False

In [220]:
D.discard("efgfreefg")
D

{0, 1, 2, 'two'}

In [225]:
F.difference(V)

{'Mr. Adams', 'Olujare'}

In [130]:
E.

(1, 'a', 2, 'b')

### Homework


- Use the set methods listed above to perform operations involving sets.

- Find and use Tuple methods to perform operations involving tuples.

- Find and use Dictionary methods to perform operations involving dictionaries.

- In the working_with_tables_homework.csv file, find a way to separate the email service provider from each sales representatative's email into a separate column.

- There are 8 students in a room: Alicia, Ope, Fiyin, Emeka, Kenny, Timothy, Grace, and Kunle. Use this information to answer the following questions:
> 1. If one more person named Emeka joins these 8 students, which data structure can we use to represent this information?
> 2. If there are two groups, A and B. Ope, Fiyin, Timothy, and Kunle are in group A while, Alicia, Emeka, Kenny, Timothy, and Ope are in group B. Which data structure can help us find the students common to both groups?
> 3. If we want these 8 students to vote for who would be class president between Sandra and Michael, and we want to be able to know the order in which the students voted (e.g Emeka voted first, Alicia voted second, and so on), what data structure should we use?
> 4. If the scenario in question 3 is repeated, but this time, we do not care about the order in which the students voted, what data structure should we use?
> 5. If we wanted to record the number of votes that Michael and Sandra got from the election, which data structure is best suited for the task?

In [43]:
names = ["Alicia", "Ope", "Fiyin", "Emeka", "Kenny", "Timothy", "Grace", "Kunle"]

names.append("Emeka")
print(names)

['Alicia', 'Ope', 'Fiyin', 'Emeka', 'Kenny', 'Timothy', 'Grace', 'Kunle', 'Emeka']

In [46]:
{"Michael": 50, "Sandra": 48}

{'Michael': 50, 'Sandra': 48}

In [48]:
import pandas as pd

data = pd.read_csv("working_with_tables_homework.csv")

data["Service_Provider"] = data["email"].str.partition("@")[2]

data

,Firstname,Lastname,age,sales,cost,email,Service_Provider
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,outlook.com
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,yahoo.com
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,gmail.com
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,ymail.com
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,gmail.com
5,Kachi,Felix,[50],44235,33218,felix_kach@protonmail.com,protonmail.com
6,Olujare,Dada,[28],27500,25800,olu59_dada@zohomail.com,zohomail.com
7,Tomiwa,Sogaolu,[42],50509,34850,tommySolu@icloudmail.com,icloudmail.com
8,Timilehin,Kupolokun,[49],88390,76001,timikupo11@outlook.com,outlook.com
9,Nnena,Dickson,[39],122200,85900,nene33@gmail.com,gmail.com

In [55]:
data["email"].str.partition("@")[2]

0       outlook.com
1         yahoo.com
2         gmail.com
3         ymail.com
4         gmail.com
5    protonmail.com
6      zohomail.com
7    icloudmail.com
8       outlook.com
9         gmail.com
Name: 2, dtype: object

In [59]:
data["Firstname"]

0    10
1     7
2    10
3     7
4     4
5     5
6     7
7     6
8     9
9     5
Name: Firstname, dtype: int64

In [18]:
d = {"Name": "Olujare", "Age": 85, "Salary": 1_000_000}
k = d.copy()
k

{'Name': 'Olujare', 'Age': 85, 'Salary': 1000000}

In [36]:
k.pop("Age")

85

In [44]:
k.values()
k

{'Name': 'Olujare', 'Age': None}

### Converting between Data Structures

**Converting Lists to Tuples or Sets**

In [138]:
L
#tuple(L)
set(L)

{1,
 2,
 4,
 'Cousin, Iphone, Uncle',
 'Father',
 'Last_element',
 'Mother',
 'Nokia',
 None,
 'Samsung',
 'one',
 'three'}

**Converting Tuples to Lists or Sets**

In [141]:
T
list(T)
set(T)

{1, 2, 'a', 'b'}

**Converting Sets to Tuples or Lists**

In [144]:
D
list(D)
tuple(D)

(0, 1, 2, 'two', 'efgfreefg')

**Converting Dictionaries to Tuples, Lists, or Sets:**

Since a dictionary contains two pieces of linked information: keys and values, it follows that we should be able to create two children data structures from the keys and values of a dictionary.

In [158]:
E

{'one': 2, 'two': 2, 'three': 3}

In [157]:
list(E) #This takes just the keys and converts them to a list. Another way to do this is: list(E.keys())
tuple(E) #This takes just the keys and converts them to a tuple. Another way to do this is: tuple(E.keys())
set(E) #This takes just the keys and converts them to a set. Another way to do this is: set(E.keys())


list(E.items()) #This creates a list of tuples containing the key-value pairing.
tuple(E.items()) #This creates a tuple of tuples containing the key-value pairing.
set(E.items()) #This creates a set of tuples containing the key-value pairing.


list(E.values()) #This takes just the values and converts them to a list.
tuple(E.values()) #This takes just the values and converts them to a tuple.
set(E.values()) #This takes just the values and converts them to a set.

{2, 3}

[m1, m2, m3, m4, m5]$\to$ (1,2,3,4,5) continguous

[m14, m12, m8, m47, m60]  [list_location]

In [19]:
E = {'one': 2, 'one': 12, 'three': 3}

tuple(E.values())

(12, 3)

### Using Built-in Data structures to create Pandas Objects


The Built-in Data Structures discussed so far are very useful but as Data Scientists, we would most likely deal more with tables than with lists, sets, dictionaries or tuples. Since data in table form is a more appropriate way to represent data, the primitive data structures learned so far would not suffice in the long run.

It is therefore imperative to find a way to link what we know, with what we will use in the near future, pandas table representations. There are 4 ways to represent data in pandas, they are:

- **Pandas Series**: A Series is a one dimensional array like structure with homogeneous data. The values of the series are mutable means we can change any value in series, but the size of the series is immutable so we can not change the size of the series.

- **Pandas DataFrames**:  DataFrame is a two-dimensional array with heterogeneous data. A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time.

- **Pandas Panel**: The panel is a three-dimensional data structure with heterogeneous data. It is very hard to represent the Panel in a graphical representation. But a Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable. 

Below is a picture depicting the above information:

![convert notebook to web app](https://miro.medium.com/max/720/1*1iHWBaNA9d_ArysIiuit8A.webp)

From the above representations given above, it does not take a Rocket Scientist to decipher that Lists and Tuples can be used to create Pandas Series objects. This is because they are single column data structures, just like the Built-in data structures of Lists and Tuples. 
***(Note: Sets are not used because they are unordered. This means that they do not have indicies that the pandas can use to create its own indicies)***

Out of the Built-in data structures, only Dictionaries can take in two different types of data linked in a key-value pair relationship. This implies that we can use it to represent a data structure with multiple columns.

At this point, we can proceed to show how to create these pandas objects from the Built-in Data Structures.

(***Note: This is important because we would be using Pandas objects heavily in the near future***).

#### Initializing Pandas

In [2]:
import pandas as pd 

#Remember pd is just an alias. You can name your alias anything. But pd is the convention so that other
#programmers can read your code with ease

#### Pandas Series from Lists

In [21]:
ls1 = [2, 4, 6, "eight", 10]
#Notice that for the above the list, the series created is recognized as an "Object". An "Object" is a string in Pandas.
#Also, the reason why this is so, is because of the presence of the value "eight". If the value were 8 instead of "eight",
#pandas would recognize it as an integer, or int64 or int32, or int16.

ls1 = [2, 4, 6, 8, 10]

pd.Series(ls1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [22]:
#To add a column name, we use the "name" parameter.

pd.Series(ls1, name = "Values_of_ls1")


#We can assign the series created to a variable that we can use to reference the series anytime we want
ls1_series = pd.Series(ls1, name = "Values_of_ls1")

In [23]:
ls1_series

0     2
1     4
2     6
3     8
4    10
Name: Values_of_ls1, dtype: int64

#### Pandas Series from Tuple

In [24]:
#Creating the tuple
tup1 = (1, 2, 3, 4, 5, 6, 7)

#Creating the pandas series
pd.Series(tup1)

#Creating the pandas series with a name
pd.Series(tup1, name = "Values_of_tup1")

#Assigning the pandas series to a variable name so it can be referenced any time
tup1_series = pd.Series(tup1, name = "Values_of_tup1")

In [25]:
tup1_series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Values_of_tup1, dtype: int64

#### Creating new Index for Pandas Series


The index is the numbering to the leftmost part of the Series or DataFrame. It is pandas's way of identifying the individual rows of the dataset.

The default numbering of the index is: 0, 1, 2, 3,... and so on. However, depending on our needs, we can create a new index for either our pandas series or dataframe.

Again, we do not need to be a genius to figure out that if we want to create this new index, we use a list or a tuple.

In [170]:
tup1_index = ["A", "B", "C"]
pd.Series(tup1, name = "Values_of_tup1", index = tup1_index)

ValueError: Length of values (7) does not match length of index (3)

The above code returns an error which states that there are 7 values in you pandas series yet, you have only 3 index values. This is simply telling us that we should ensure that the number of index values is exactly the same as the number of values in our pandas series. The same goes for pandas dataframes.

In [171]:
tup1_index = ["A", "B", "C", "D", "E", "F", "G"]
pd.Series(tup1, name = "Values_of_tup1", index = tup1_index)

A    1
B    2
C    3
D    4
E    5
F    6
G    7
Name: Values_of_tup1, dtype: int64

#### Pandas DataFrames from Dictionary

In [26]:
#Creating the dictionary

details_dict = {
    
    "Name": ["Rahmon", "Rahila", "Ramsey", "Ranti", "Richard", "Rex"],
    "Age": [10, 12, 13, 8, 9, 11],
    "Favorite Team": ["Chelsea", "Tottenham", "Barcelona", "Arsenal", "Liverpool", "Juventus"]
    
}

#Using the dictionary to create the dataframe

data = pd.DataFrame(details_dict)

In [27]:
data

      Name  Age Favorite Team
0   Rahmon   10       Chelsea
1   Rahila   12     Tottenham
2   Ramsey   13     Barcelona
3    Ranti    8       Arsenal
4  Richard    9     Liverpool
5      Rex   11      Juventus

#### Pandas DataFrames by combining two series


Other than using a dictionary to create a pandas DataFrame, there might be other times when it would be required to combine two or more existing pandas series objects.

In [178]:
pd.concat([tup1_series, ls1_series], axis = 1)

   Values_of_tup1 Values_of_ls1
0               1             2
1               2             4
2               3             6
3               4         eight
4               5            10
5               6           NaN
6               7           NaN

Observe that there are values in the data labelled NaN. These values represent empty spaces. They are pandas' waay of telling us that there is no value for that particular column or row.

**An Example of Panel Data**

![convert notebook to web app](./Panel_Data_Example.PNG)



From the above table, we can see that the data has different facets to it. Instead of just looking in two dimensions, in terms of rows and column names, panel data adds extra information on top of the two dimensional depictions we have been seeing so far.

In panel data, basically, the column names themselves have titles which specify what information the columns are trying to depict. For example, the country title gives the column names to be the name of countries and is the highest level of granularity of the columns. Next, we have series and pay period.

It is important to note that while this conveys a lot more information to a human, this type of data is not condusive for Machine Learning, an essential part of data science but this does not mean that analysis cannot be done on it.

If you are curious about analysis done on panel data, see the following:
https://python.quantecon.org/pandas_panel.html

(Please note that some of the code found in the above link has not been covered yet)

### Assigment

- Create a Dictionary of more than 10 key-value pairs.
- Convert the keys of the Dictionary to a list
- Convert the values of the Dictionary to a tuple
- Create a Pandas Series from your list
- Create a Pandas Series from your tuple
- Create a Pandas DataFrame from the two Pandas Series you have created.
- Create a Pandas DataFrame from the Dictionary you created at the start.
- Check if these two Pandas DataFrames are equal

### Pandas

Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It is built on top of Numpy, which provides support for multi-dimensional arrays.


**What can Pandas do?**
- Data cleansing
- Data fill
- Data normalization
- Merges and joins
- Data visualization
- Statistical analysis
- Data inspection
- Loading and saving data


From the above list, we can see that Pandas is able to perform many useful tasks (which might not be apparent right now). The tasks listed form a core part of the skills that every Data Scientist should have and all these tasks will be touched upon later in this course. 

For now, we demonstrate how Pandas is able to load data from various sources

**Data from CSV**

In [66]:
import pandas as pd


pd.read_csv("./working_with_tables.csv")

    Firstname   Lastname   age   sales   cost
0  Olanrewaju     Kazeem  [24]   15000  11000
1     Chibuzo     Ekenne  [30]   25800  15200
2  Onyinyechi       Amos  [22]   45000  28000
3     Orlando      Bloom  [25]   28000  22000
4        Alex      Iwobi  [34]   36500  18850
5       Kachi      Felix  [50]   44235  33218
6     Olujare       Dada  [28]   27500  25800
7      Tomiwa    Sogaolu  [42]   50509  34850
8   Timilehin  Kupolokun  [49]   88390  76001
9       Nnena    Dickson  [39]  122200  85900

**Data from EXCEL**

In [46]:
excel_data = pd.read_excel("./data_science_people.xlsx")
excel_data

         Name  Age Favorite_food
0     Olujare   27         Beans
1       Fiyin   18           Yam
2  Priscillia   12          Rice

**Data from HTML**

In [32]:
#This example captures a table found on Wikipedia. 
#Generally, pd.read_html is used to scrape data off the internet. Web scraping is something we shall discuss later in the course
t = pd.read_html("https://en.wikipedia.org/wiki/UEFA_Champions_League")

#Taking the length of the result that pandas found on the Wikipedia page, we find that it had 26 results.
len(t)

27

In [34]:
#Viewing these results to understand them and to pinpoint what we want.

t

[                                0  \
 0                             NaN
 1                 Organising body
 2                         Founded
 3                          Region
 4                 Number of teams
 5                   Qualifier for
 6            Related competitions
 7               Current champions
 8         Most successful club(s)
 9         Television broadcasters
 10                        Website
 11  2022–23 UEFA Champions League

                                                     1
 0                                                 NaN
 1                                                UEFA
 2               1955; 68 years ago(rebranded in 1992)
 3                                              Europe
 4   .mw-parser-output .plainlist ol,.mw-parser-out...
 5                   UEFA Super CupFIFA Club World Cup
 6   UEFA Europa League (2nd tier)UEFA Europa Confe...
 7                            Real Madrid (14th title)
 8                             Real Madrid (14 titles)
 9                                List of broadcasters
 10                       uefa.com/uefachampionsleague
 11                      2022–23 UEFA Champions League  ,
    European Cup
          Season            Winners
 0       1955–56        Real Madrid
 1       1956–57    Real Madrid (2)
 2       1957–58    Real Madrid (3)
 3       1958–59    Real Madrid (4)
 4       1959–60    Real Madrid (5)
 ..          ...                ...
 64      2018–19      Liverpool (6)
 65      2019–20  Bayern Munich (6)
 66      2020–21        Chelsea (2)
 67      2021–22   Real Madrid (14)
 68      2022–23                NaN

 [69 rows x 2 columns],
                          Unnamed: 0                        Unnamed: 1  \
 0        Preliminary round(4 teams)        Preliminary round(4 teams)
 1  First qualifying round(34 teams)  First qualifying round(34 teams)
 2           Second qualifying round          Champions Path(20 teams)
 3           Second qualifying round              League Path(6 teams)
 4            Third qualifying round          Champions Path(12 teams)
 5            Third qualifying round              League Path(8 teams)
 6                    Play-off round           Champions Path(8 teams)
 7                    Play-off round              League Path(4 teams)
 8             Group stage(32 teams)             Group stage(32 teams)
 9          Knockout phase(16 teams)          Knockout phase(16 teams)

                         Teams entering in this round  \
 0                4 champions from associations 52–55
 1  33 champions from associations 18–51 (except L...
 2                3 champions from associations 15–17
 3               6 runners-up from associations 10–15
 4                2 champions from associations 13–14
 5  3 runners-up from associations 7–9 2 third-pla...
 6                2 champions from associations 11–12
 7                                                NaN
 8  UEFA Champions League title holders UEFA Europ...
 9                                                NaN

              Teams advancing from the previous round
 0                                                NaN
 1                1 winner from the preliminary round
 2         17 winners from the first qualifying round
 3                                                NaN
 4  10 winners from the second qualifying round (C...
 5  3 winners from the second qualifying round (Le...
 6  6 winners from the third qualifying round (Cha...
 7  4 winners from the third qualifying round (Lea...
 8  4 winners from the play-off round (Champions P...
 9  8 group winners from the group stage 8 group r...  ,
                          Unnamed: 0                        Unnamed: 1  \
 0  First qualifying round(32 teams)  First qualifying round(32 teams)
 1           Second qualifying round          Champions Path(24 teams)
 2           Second qualifying round              League Path(6 teams)
 3            Third qualifying round          Champions Path(12 teams)
 4            Third qualifying round              League Path(8 teams)
 5                    Play-off round          Champions Path(10 teams)
 6                    Play-off round              League Path(4 teams)
 7             Group stage(36 teams)             Group stage(36 teams)

                         Teams entering in this round  \
 0  32 champions from associations 23–55 (except L...
 1                8 champions from associations 15–22
 2               6 runners-up from associations 10–15
 3                                                NaN
 4  2 runners-up from associations 7–9 1 third-pla...
 5                4 champions from associations 11–14
 6                                                NaN
 7  UEFA Champions League title holders UEFA Europ...

              Teams advancing from the previous round
 0                                                NaN
 1         16 winners from the first qualifying round
 2                                                NaN
 3  12 winners from the second qualifying round (C...
 4  3 winners from the second qualifying round (Le...
 5  6 winners from the third qualifying round (Cha...
 6  4 winners from the third qualifying round (Lea...
 7  5 winners from the play-off round (Champions P...  ,
    .mw-parser-output .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{margin:0;padding:0}.mw-parser-output .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{margin:0;display:inline}.mw-parser-output .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output .hlist dl ol,.mw-parser-output .hlist dl ul,.mw-parser-output .hlist ol dl,.mw-parser-output .hlist ol ol,.mw-parser-output .hlist ol ul,.mw-parser-output .hlist ul dl,.mw-parser-output .hlist ul ol,.mw-parser-output .hlist ul ul{display:inline}.mw-parser-output .hlist .mw-empty-li{display:none}.mw-parser-output .hlist dt::after{content:": "}.mw-parser-output .hlist dd::after,.mw-parser-output .hlist li::after{content:" · ";font-weight:bold}.mw-parser-output .hlist dd:last-child::after,.mw-parser-output .hlist dt:last-child::after,.mw-parser-output .hlist li:last-child::after{content:none}.mw-parser-output .hlist dd dd:first-child::before,.mw-parser-output .hlist dd dt:first-child::before,.mw-parser-output .hlist dd li:first-child::before,.mw-parser-output .hlist dt dd:first-child::before,.mw-parser-output .hlist dt dt:first-child::before,.mw-parser-output .hlist dt li:first-child::before,.mw-parser-output .hlist li dd:first-child::before,.mw-parser-output .hlist li dt:first-child::before,.mw-parser-output .hlist li li:first-child::before{content:" (";font-weight:normal}.mw-parser-output .hlist dd dd:last-child::after,.mw-parser-output .hlist dd dt:last-child::after,.mw-parser-output .hlist dd li:last-child::after,.mw-parser-output .hlist dt dd:last-child::after,.mw-parser-output .hlist dt dt:last-child::after,.mw-parser-output .hlist dt li:last-child::after,.mw-parser-output .hlist li dd:last-child::after,.mw-parser-output .hlist li dt:last-child::after,.mw-parser-output .hlist li li:last-child::after{content:")";font-weight:normal}.mw-parser-output .hlist ol{counter-reset:listitem}.mw-parser-output .hlist ol>li{counter-increment:listitem}.mw-parser-output .hlist ol>li::before{content:" "counter(listitem)"\a0 "}.mw-parser-output .hlist dd ol>li:first-child::before,.mw-parser-output .hlist dt ol>li:first-child::before,.mw-parser-output .hlist li ol>li:first-child::before{content:" ("counter(listitem)"\a0 "}.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte Club  \
 0                                         Real Madrid
 1                                               Milan
 2                                       Bayern Munich
 3                                           Liverpool
 4                                           Barcelona
 5                                                Ajax
 6                                   Manchester United
 7                                         Inter Milan
 8                                            Juventus
 9                                             Benfica
 10                                            Chelsea
 11                                  Nottingham Forest
 12                                              Porto
 13                                             Celtic
 14                                       Hamburger SV
 15                                   Steaua București
 16                                          Marseille
 17                                  Borussia Dortmund
 18                                          Feyenoord
 19                                        Aston Villa
 20                                      PSV Eindhoven
 21                                  Red Star Belgrade
 22                                    Atlético Madrid
 23                                              Reims
 24                                           Valencia
 25                                         Fiorentina
 26                                Eintracht Frankfurt
 27                                           Partizan
 28                                      Panathinaikos
 29                                       Leeds United
 30                                      Saint-Étienne
 31                           Borussia Mönchengladbach
 32                                        Club Brugge
 33                                           Malmö FF
 34                                               Roma
 35                                          Sampdoria
 36                                   Bayer Leverkusen
 37                                             Monaco
 38                                            Arsenal
 39                                  Tottenham Hotspur
 40                                Paris Saint-Germain
 41                                    Manchester City

     Title(s)  Runners-up                                        Seasons won  \
 0         14           3  1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...
 1          7           4           1963, 1969, 1989, 1990, 1994, 2003, 2007
 2          6           5                 1974, 1975, 1976, 2001, 2013, 2020
 3          6           4                 1977, 1978, 1981, 1984, 2005, 2019
 4          5           3                       1992, 2006, 2009, 2011, 2015
 5          4           2                             1971, 1972, 1973, 1995
 6          3           2                                   1968, 1999, 2008
 7          3           2                                   1964, 1965, 2010
 8          2           7                                         1985, 1996
 9          2           5                                         1961, 1962
 10         2           1                                         2012, 2021
 11         2           0                                         1979, 1980
 12         2           0                                         1987, 2004
 13         1           1                                               1967
 14         1           1                                               1983
 15         1           1                                               1986
 16         1           1                                               1993
 17         1           1                                               1997
 18         1           0                                               1970
 19         1           0                                               1982
 20         1           0                                               1988
 21         1           0                                               1991
 22         0           3                                                  —
 23         0           2                                                  —
 24         0           2                                                  —
 25         0           1                                                  —
 26         0           1                                                  —
 27         0           1                                                  —
 28         0           1                                                  —
 29         0           1                                                  —
 30         0           1                                                  —
 31         0           1                                                  —
 32         0           1                                                  —
 33         0           1                                                  —
 34         0           1                                                  —
 35         0           1                                                  —
 36         0           1                                                  —
 37         0           1                                                  —
 38         0           1                                                  —
 39         0           1                                                  —
 40         0           1                                                  —
 41         0           1                                                  —

                            Seasons runner-up
 0                           1962, 1964, 1981
 1                     1958, 1993, 1995, 2005
 2               1982, 1987, 1999, 2010, 2012
 3                     1985, 2007, 2018, 2022
 4                           1961, 1986, 1994
 5                                 1969, 1996
 6                                 2009, 2011
 7                                 1967, 1972
 8   1973, 1983, 1997, 1998, 2003, 2015, 2017
 9               1963, 1965, 1968, 1988, 1990
 10                                      2008
 11                                         —
 12                                         —
 13                                      1970
 14                                      1980
 15                                      1989
 16                                      1991
 17                                      2013
 18                                         —
 19                                         —
 20                                         —
 21                                         —
 22                          1974, 2014, 2016
 23                                1956, 1959
 24                                2000, 2001
 25                                      1957
 26                                      1960
 27                                      1966
 28                                      1971
 29                                      1975
 30                                      1976
 31                                      1977
 32                                      1978
 33                                      1979
 34                                      1984
 35                                      1992
 36                                      2002
 37                                      2004
 38                                      2006
 39                                      2019
 40                                      2020
 41                                      2021  ,
            Nation  Titles  Runners-up  Total
 0           Spain      19          11     30
 1         England      14          11     25
 2           Italy      12          16     28
 3      Germany[a]       8          10     18
 4     Netherlands       6           2      8
 5        Portugal       4           5      9
 6          France       1           6      7
 7         Romania       1           1      2
 8        Scotland       1           1      2
 9   Yugoslavia[b]       1           1      2
 10        Belgium       0           1      1
 11         Greece       0           1      1
 12         Sweden       0           1      1,
     No. of wins                 Player  \
 0             6        Francisco Gento
 1             5            Juan Alonso
 2             5          Rafael Lesmes
 3             5              Marquitos
 4             5            Héctor Rial
 5             5     Alfredo Di Stéfano
 6             5     José María Zárraga
 7             5  Alessandro Costacurta
 8             5          Paolo Maldini
 9             5      Cristiano Ronaldo
 10            5             Toni Kroos
 11            5            Gareth Bale
 12            5          Karim Benzema
 13            5          Dani Carvajal
 14            5               Casemiro
 15            5                   Isco
 16            5                Marcelo
 17            5            Luka Modrić
 18            5                  Nacho
 19            4                Joseíto
 20            4         Enrique Mateos
 21            4       Juan Santisteban
 22            4        José Santamaría
 23            4              Phil Neal
 24            4       Clarence Seedorf
 25            4           Samuel Eto'o
 26            4         Andrés Iniesta
 27            4           Lionel Messi
 28            4                   Xavi
 29            4           Gerard Piqué
 30            4           Sergio Ramos
 31            4         Raphaël Varane
 32            4          Mateo Kovačić
 33            4          Lucas Vázquez

                                               Club(s)
 0    Real Madrid (1956, 1957, 1958, 1959, 1960, 1966)
 1          Real Madrid (1956, 1957, 1958, 1959, 1960)
 2          Real Madrid (1956, 1957, 1958, 1959, 1960)
 3          Real Madrid (1956, 1957, 1958, 1959, 1960)
 4          Real Madrid (1956, 1957, 1958, 1959, 1960)
 5          Real Madrid (1956, 1957, 1958, 1959, 1960)
 6          Real Madrid (1956, 1957, 1958, 1959, 1960)
 7             AC Milan (1989, 1990, 1994, 2003, 2007)
 8             AC Milan (1989, 1990, 1994, 2003, 2007)
 9   Manchester United (2008)Real Madrid (2014, 201...
 10  Bayern Munich (2013)Real Madrid (2016, 2017, 2...
 11         Real Madrid (2014, 2016, 2017, 2018, 2022)
 12         Real Madrid (2014, 2016, 2017, 2018, 2022)
 13         Real Madrid (2014, 2016, 2017, 2018, 2022)
 14         Real Madrid (2014, 2016, 2017, 2018, 2022)
 15         Real Madrid (2014, 2016, 2017, 2018, 2022)
 16         Real Madrid (2014, 2016, 2017, 2018, 2022)
 17         Real Madrid (2014, 2016, 2017, 2018, 2022)
 18         Real Madrid (2014, 2016, 2017, 2018, 2022)
 19               Real Madrid (1956, 1957, 1958, 1959)
 20               Real Madrid (1957, 1958, 1959, 1960)
 21               Real Madrid (1957, 1958, 1959, 1960)
 22               Real Madrid (1958, 1959, 1960, 1966)
 23                 Liverpool (1977, 1978, 1981, 1984)
 24  Ajax (1995)Real Madrid (1998)AC Milan (2003, 2...
 25  Real Madrid (2000)Barcelona (2006, 2009)Inter ...
 26                 Barcelona (2006, 2009, 2011, 2015)
 27                 Barcelona (2006, 2009, 2011, 2015)
 28                 Barcelona (2006, 2009, 2011, 2015)
 29  Manchester United (2008)Barcelona (2009, 2011,...
 30               Real Madrid (2014, 2016, 2017, 2018)
 31               Real Madrid (2014, 2016, 2017, 2018)
 32      Real Madrid (2016, 2017, 2018) Chelsea (2021)
 33               Real Madrid (2016, 2017, 2018, 2022)  ,

In [54]:
#We can use the "match" parameter to find the exact table we are looking for. Most tables have a heading and this is what goes
#into the "match" parameter of pandas and how pandas can help us find the exact table we want.


t = pd.read_html("https://en.wikipedia.org/wiki/UEFA_Champions_League", match = "Performances in the European Cup and UEFA Champions League by club")

#Checking what result pandas brought back.
t

[   .mw-parser-output .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{margin:0;padding:0}.mw-parser-output .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{margin:0;display:inline}.mw-parser-output .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output .hlist dl ol,.mw-parser-output .hlist dl ul,.mw-parser-output .hlist ol dl,.mw-parser-output .hlist ol ol,.mw-parser-output .hlist ol ul,.mw-parser-output .hlist ul dl,.mw-parser-output .hlist ul ol,.mw-parser-output .hlist ul ul{display:inline}.mw-parser-output .hlist .mw-empty-li{display:none}.mw-parser-output .hlist dt::after{content:": "}.mw-parser-output .hlist dd::after,.mw-parser-output .hlist li::after{content:" · ";font-weight:bold}.mw-parser-output .hlist dd:last-child::after,.mw-parser-output .hlist dt:last-child::after,.mw-parser-output .hlist li:last-child::after{content:none}.mw-parser-output .hlist dd dd:first-child::before,.mw-parser-output .hlist dd dt:first-child::before,.mw-parser-output .hlist dd li:first-child::before,.mw-parser-output .hlist dt dd:first-child::before,.mw-parser-output .hlist dt dt:first-child::before,.mw-parser-output .hlist dt li:first-child::before,.mw-parser-output .hlist li dd:first-child::before,.mw-parser-output .hlist li dt:first-child::before,.mw-parser-output .hlist li li:first-child::before{content:" (";font-weight:normal}.mw-parser-output .hlist dd dd:last-child::after,.mw-parser-output .hlist dd dt:last-child::after,.mw-parser-output .hlist dd li:last-child::after,.mw-parser-output .hlist dt dd:last-child::after,.mw-parser-output .hlist dt dt:last-child::after,.mw-parser-output .hlist dt li:last-child::after,.mw-parser-output .hlist li dd:last-child::after,.mw-parser-output .hlist li dt:last-child::after,.mw-parser-output .hlist li li:last-child::after{content:")";font-weight:normal}.mw-parser-output .hlist ol{counter-reset:listitem}.mw-parser-output .hlist ol>li{counter-increment:listitem}.mw-parser-output .hlist ol>li::before{content:" "counter(listitem)"\a0 "}.mw-parser-output .hlist dd ol>li:first-child::before,.mw-parser-output .hlist dt ol>li:first-child::before,.mw-parser-output .hlist li ol>li:first-child::before{content:" ("counter(listitem)"\a0 "}.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte Club  \
 0                                         Real Madrid
 1                                               Milan
 2                                       Bayern Munich
 3                                           Liverpool
 4                                           Barcelona
 5                                                Ajax
 6                                   Manchester United
 7                                         Inter Milan
 8                                            Juventus
 9                                             Benfica
 10                                            Chelsea
 11                                  Nottingham Forest
 12                                              Porto
 13                                             Celtic
 14                                       Hamburger SV
 15                                   Steaua București
 16                                          Marseille
 17                                  Borussia Dortmund
 18                                          Feyenoord
 19                                        Aston Villa
 20                                      PSV Eindhoven
 21                                  Red Star Belgrade
 22                                    Atlético Madrid
 23                                              Reims
 24                                           Valencia
 25                                         Fiorentina
 26                                Eintracht Frankfurt
 27                                           Partizan
 28                                      Panathinaikos
 29                                       Leeds United
 30                                      Saint-Étienne
 31                           Borussia Mönchengladbach
 32                                        Club Brugge
 33                                           Malmö FF
 34                                               Roma
 35                                          Sampdoria
 36                                   Bayer Leverkusen
 37                                             Monaco
 38                                            Arsenal
 39                                  Tottenham Hotspur
 40                                Paris Saint-Germain
 41                                    Manchester City

     Title(s)  Runners-up                                        Seasons won  \
 0         14           3  1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...
 1          7           4           1963, 1969, 1989, 1990, 1994, 2003, 2007
 2          6           5                 1974, 1975, 1976, 2001, 2013, 2020
 3          6           4                 1977, 1978, 1981, 1984, 2005, 2019
 4          5           3                       1992, 2006, 2009, 2011, 2015
 5          4           2                             1971, 1972, 1973, 1995
 6          3           2                                   1968, 1999, 2008
 7          3           2                                   1964, 1965, 2010
 8          2           7                                         1985, 1996
 9          2           5                                         1961, 1962
 10         2           1                                         2012, 2021
 11         2           0                                         1979, 1980
 12         2           0                                         1987, 2004
 13         1           1                                               1967
 14         1           1                                               1983
 15         1           1                                               1986
 16         1           1                                               1993
 17         1           1                                               1997
 18         1           0                                               1970
 19         1           0                                               1982
 20         1           0                                               1988
 21         1           0                                               1991
 22         0           3                                                  —
 23         0           2                                                  —
 24         0           2                                                  —
 25         0           1                                                  —
 26         0           1                                                  —
 27         0           1                                                  —
 28         0           1                                                  —
 29         0           1                                                  —
 30         0           1                                                  —
 31         0           1                                                  —
 32         0           1                                                  —
 33         0           1                                                  —
 34         0           1                                                  —
 35         0           1                                                  —
 36         0           1                                                  —
 37         0           1                                                  —
 38         0           1                                                  —
 39         0           1                                                  —
 40         0           1                                                  —
 41         0           1                                                  —

                            Seasons runner-up
 0                           1962, 1964, 1981
 1                     1958, 1993, 1995, 2005
 2               1982, 1987, 1999, 2010, 2012
 3                     1985, 2007, 2018, 2022
 4                           1961, 1986, 1994
 5                                 1969, 1996
 6                                 2009, 2011
 7                                 1967, 1972
 8   1973, 1983, 1997, 1998, 2003, 2015, 2017
 9               1963, 1965, 1968, 1988, 1990
 10                                      2008
 11                                         —
 12                                         —
 13                                      1970
 14                                      1980
 15                                      1989
 16                                      1991
 17                                      2013
 18                                         —
 19                                         —
 20                                         —
 21                                         —
 22                          1974, 2014, 2016
 23                                1956, 1959
 24                                2000, 2001
 25                                      1957
 26                                      1960
 27                                      1966
 28                                      1971
 29                                      1975
 30                                      1976
 31                                      1977
 32                                      1978
 33                                      1979
 34                                      1984
 35                                      1992
 36                                      2002
 37                                      2004
 38                                      2006
 39                                      2019
 40                                      2020
 41                                      2021  ]

In [56]:
#Observing the result above, we can see that the result is in a list. Remember that lists can take in any datatype.
#Therefore, to get the table out of the list, we simply apply list indexing.

t[0]


new_table = t[0]
new_table

,".mw-parser-output .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{margin:0;padding:0}.mw-parser-output .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{margin:0;display:inline}.mw-parser-output .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output .hlist dl ol,.mw-parser-output .hlist dl ul,.mw-parser-output .hlist ol dl,.mw-parser-output .hlist ol ol,.mw-parser-output .hlist ol ul,.mw-parser-output .hlist ul dl,.mw-parser-output .hlist ul ol,.mw-parser-output .hlist ul ul{display:inline}.mw-parser-output .hlist .mw-empty-li{display:none}.mw-parser-output .hlist dt::after{content:"": ""}.mw-parser-output .hlist dd::after,.mw-parser-output .hlist li::after{content:"" · "";font-weight:bold}.mw-parser-output .hlist dd:last-child::after,.mw-parser-output .hlist dt:last-child::after,.mw-parser-output .hlist li:last-child::after{content:none}.mw-parser-output .hlist dd dd:first-child::before,.mw-parser-output .hlist dd dt:first-child::before,.mw-parser-output .hlist dd li:first-child::before,.mw-parser-output .hlist dt dd:first-child::before,.mw-parser-output .hlist dt dt:first-child::before,.mw-parser-output .hlist dt li:first-child::before,.mw-parser-output .hlist li dd:first-child::before,.mw-parser-output .hlist li dt:first-child::before,.mw-parser-output .hlist li li:first-child::before{content:"" ("";font-weight:normal}.mw-parser-output .hlist dd dd:last-child::after,.mw-parser-output .hlist dd dt:last-child::after,.mw-parser-output .hlist dd li:last-child::after,.mw-parser-output .hlist dt dd:last-child::after,.mw-parser-output .hlist dt dt:last-child::after,.mw-parser-output .hlist dt li:last-child::after,.mw-parser-output .hlist li dd:last-child::after,.mw-parser-output .hlist li dt:last-child::after,.mw-parser-output .hlist li li:last-child::after{content:"")"";font-weight:normal}.mw-parser-output .hlist ol{counter-reset:listitem}.mw-parser-output .hlist ol>li{counter-increment:listitem}.mw-parser-output .hlist ol>li::before{content:"" ""counter(listitem)""\a0 ""}.mw-parser-output .hlist dd ol>li:first-child::before,.mw-parser-output .hlist dt ol>li:first-child::before,.mw-parser-output .hlist li ol>li:first-child::before{content:"" (""counter(listitem)""\a0 ""}.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte Club",Title(s),Runners-up,Seasons won,Seasons runner-up
0,Real Madrid,14,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"
5,Ajax,4,2,"1971, 1972, 1973, 1995","1969, 1996"
6,Manchester United,3,2,"1968, 1999, 2008","2009, 2011"
7,Inter Milan,3,2,"1964, 1965, 2010","1967, 1972"
8,Juventus,2,7,"1985, 1996","1973, 1983, 1997, 1998, 2003, 2015, 2017"
9,Benfica,2,5,"1961, 1962","1963, 1965, 1968, 1988, 1990"
10,Chelsea,2,1,"2012, 2021",2008
11,Nottingham Forest,2,0,"1979, 1980",—
12,Porto,2,0,"1987, 2004",—
13,Celtic,1,1,1967,1970
14,Hamburger SV,1,1,1983,1980
15,Steaua București,1,1,1986,1989
16,Marseille,1,1,1993,1991
17,Borussia Dortmund,1,1,1997,2013
18,Feyenoord,1,0,1970,—
19,Aston Villa,1,0,1982,—
20,PSV Eindhoven,1,0,1988,—
21,Red Star Belgrade,1,0,1991,—
22,Atlético Madrid,0,3,—,"1974, 2014, 2016"
23,Reims,0,2,—,"1956, 1959"
24,Valencia,0,2,—,"2000, 2001"
25,Fiorentina,0,1,—,1957
26,Eintracht Frankfurt,0,1,—,1960
27,Partizan,0,1,—,1966
28,Panathinaikos,0,1,—,1971
29,Leeds United,0,1,—,1975
30,Saint-Étienne,0,1,—,1976
31,Borussia Mönchengladbach,0,1,—,1977
32,Club Brugge,0,1,—,1978
33,Malmö FF,0,1,—,1979
34,Roma,0,1,—,1984
35,Sampdoria,0,1,—,1992
36,Bayer Leverkusen,0,1,—,2002
37,Monaco,0,1,—,2004
38,Arsenal,0,1,—,2006
39,Tottenham Hotspur,0,1,—,2019
40,Paris Saint-Germain,0,1,—,2020
41,Manchester City,0,1,—,2021

In [58]:
#Looking at the result above, we can see the table has been produced. There is still an issue with the column name for the
#Teams. This column name can be renamed using a simple list as shown below.
#The .columns method in new_table.columns is used to access the column header names of a pandas dataframe. Thus, reassigning
#the column names to the names given in the list solves our problem

new_table.columns = ["Team Name", "Title(s)", "Runners-up", "Season won", "Season runner-up"]

new_table

,Team Name,Title(s),Runners-up,Season won,Season runner-up
0,Real Madrid,14,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"
5,Ajax,4,2,"1971, 1972, 1973, 1995","1969, 1996"
6,Manchester United,3,2,"1968, 1999, 2008","2009, 2011"
7,Inter Milan,3,2,"1964, 1965, 2010","1967, 1972"
8,Juventus,2,7,"1985, 1996","1973, 1983, 1997, 1998, 2003, 2015, 2017"
9,Benfica,2,5,"1961, 1962","1963, 1965, 1968, 1988, 1990"
10,Chelsea,2,1,"2012, 2021",2008
11,Nottingham Forest,2,0,"1979, 1980",—
12,Porto,2,0,"1987, 2004",—
13,Celtic,1,1,1967,1970
14,Hamburger SV,1,1,1983,1980
15,Steaua București,1,1,1986,1989
16,Marseille,1,1,1993,1991
17,Borussia Dortmund,1,1,1997,2013
18,Feyenoord,1,0,1970,—
19,Aston Villa,1,0,1982,—
20,PSV Eindhoven,1,0,1988,—
21,Red Star Belgrade,1,0,1991,—
22,Atlético Madrid,0,3,—,"1974, 2014, 2016"
23,Reims,0,2,—,"1956, 1959"
24,Valencia,0,2,—,"2000, 2001"
25,Fiorentina,0,1,—,1957
26,Eintracht Frankfurt,0,1,—,1960
27,Partizan,0,1,—,1966
28,Panathinaikos,0,1,—,1971
29,Leeds United,0,1,—,1975
30,Saint-Étienne,0,1,—,1976
31,Borussia Mönchengladbach,0,1,—,1977
32,Club Brugge,0,1,—,1978
33,Malmö FF,0,1,—,1979
34,Roma,0,1,—,1984
35,Sampdoria,0,1,—,1992
36,Bayer Leverkusen,0,1,—,2002
37,Monaco,0,1,—,2004
38,Arsenal,0,1,—,2006
39,Tottenham Hotspur,0,1,—,2019
40,Paris Saint-Germain,0,1,—,2020
41,Manchester City,0,1,—,2021

**Data from Clipboard**

Here, we simply highlight the table that we want to read into pandas and copy it by right-clicking and selecting copy or we simply press the "ctrl" key and "C" key on your keyboard to copy the table content. AFter that, we run the pd.read_clipboard() method and our table appears in the Jupyter Notebook.


The tables used for this example can be found on the websites given below:

[Table from stackoverflow](https://stackoverflow.com/questions/62318682/get-pandas-datframe-values-by-key)<br>
[Table from Wikipedia](https://en.wikipedia.org/wiki/UEFA_Champions_League)

In [71]:
pd.read_clipboard()

   id    Name subject_id  Marks_scored  Rank
0   1    Alex       sub1            98     1
1   2     Amy       sub2            90     1
2   3   Allen       sub3            87     2
3   4   Alice       sub4            69    10
4   5  Ayoung       sub5            78     7

In [76]:
data = pd.read_clipboard(header = None)

data.columns = ["Team", "Number of wins", "Runners-up", "Seasons won", "Seasons runners-up"]

data

,Team,Number of wins,Runners-up,Seasons won,Seasons runners-up
0,Spain Real Madrid,14,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Italy Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Germany Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,England Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Spain Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"
5,Netherlands Ajax,4,2,"1971, 1972, 1973, 1995","1969, 1996"
6,England Manchester United,3,2,"1968, 1999, 2008","2009, 2011"
7,Italy Inter Milan,3,2,"1964, 1965, 2010","1967, 1972"
8,Italy Juventus,2,7,"1985, 1996","1973, 1983, 1997, 1998, 2003, 2015, 2017"
9,Portugal Benfica,2,5,"1961, 1962","1963, 1965, 1968, 1988, 1990"
10,England Chelsea,2,1,"2012, 2021",2008
11,England Nottingham Forest,2,0,"1979, 1980",—
12,Portugal Porto,2,0,"1987, 2004",—
13,Scotland Celtic,1,1,1967,1970
14,Germany Hamburger SV,1,1,1983,1980
15,Romania Steaua București,1,1,1986,1989
16,France Marseille,1,1,1993,1991
17,Germany Borussia Dortmund,1,1,1997,2013
18,Netherlands Feyenoord,1,0,1970,—
19,England Aston Villa,1,0,1982,—
20,Netherlands PSV Eindhoven,1,0,1988,—
21,Socialist Federal Republic of Yugoslavia Red S...,1,0,1991,—
22,Spain Atlético Madrid,0,3,—,"1974, 2014, 2016"
23,France Reims,0,2,—,"1956, 1959"
24,Spain Valencia,0,2,—,"2000, 2001"
25,Italy Fiorentina,0,1,—,1957
26,Germany Eintracht Frankfurt,0,1,—,1960
27,Socialist Federal Republic of Yugoslavia Partizan,0,1,—,1966
28,Greece Panathinaikos,0,1,—,1971
29,England Leeds United,0,1,—,1975
30,France Saint-Étienne,0,1,—,1976
31,Germany Borussia Mönchengladbach,0,1,—,1977
32,Belgium Club Brugge,0,1,—,1978
33,Sweden Malmö FF,0,1,—,1979
34,Italy Roma,0,1,—,1984
35,Italy Sampdoria,0,1,—,1992
36,Germany Bayer Leverkusen,0,1,—,2002
37,France Monaco,0,1,—,2004
38,England Arsenal,0,1,—,2006
39,England Tottenham Hotspur,0,1,—,2019
40,France Paris Saint-Germain,0,1,—,2020
41,England Manchester City,0,1,—,2021

### Using the Open function in Python

In Python, you can use the open() function to open a file and perform operations such as reading from or writing to the file. The open() function takes two arguments: the file path and the mode in which the file is to be opened.

Here's an example of how to use the open() function to read the contents of a file:

In [78]:
# Open the file for reading
file = open('example.txt', 'r')# r = read, w = write, a = append

# Read the contents of the file
content = file.read()

# Print the contents of the file
print(content)

# Close the file
file.close()

Hello, world!

#### Code Explanation:

In the above code, the open() function is used to open the file named example.txt in read mode ('r'). The read() method is then called on the file object to read the contents of the file into the content variable. Finally, the file is closed using the close() method.

Similarly, here's an example of how to use the open() function to write to a file:

In [92]:
# Open the file for writing
file = open('example.txt', 'a')


# Write some text to the file
file.write("My name is Olujare")

# Close the file
file.close()

#### Code Explanation
In this example, the open() function is used to open the file named example.txt in write mode ('w'). The write() method is then called on the file object to write the text "Hello, world!" to the file. Finally, the file is closed using the close() method.


You can use the open() function in Python to open various types of files such as text files, binary files, CSV files, JSON files, and more. The type of file that you can open with the open() function depends on the mode in which you want to open the file.

Here's a list of different modes that you can use with the open() function and the types of files that you can open in each mode:

r: Read mode. You can open text files, CSV files, and other readable file formats with this mode.
w: Write mode. You can open text files, CSV files, and other writable file formats with this mode. If the file doesn't exist, a new file will be created.
a: Append mode. You can open text files, CSV files, and other writable file formats with this mode. If the file doesn't exist, a new file will be created. If the file already exists, new data will be appended to the end of the file.
x: Exclusive creation mode. You can use this mode to create a new file, but it will raise an error if the file already exists.
b: Binary mode. You can open binary files such as images, audio, and video files with this mode.
t: Text mode. This is the default mode and is used to open text files.
Note that the mode argument can be combined with the + sign to indicate that the file should be opened for both reading and writing. For example, "r+" would open the file for reading and writing.

### Reading and Writing CSV files with Open function

Here an example of how to use the open() function to write and read from a CSV file.
Writing and reading from a CSV file:

In [93]:
import csv

# Writing to a CSV file
with open('example.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'City'])
    writer.writerow(['John', 25, 'New York'])
    writer.writerow(['Jane', 30, 'Chicago'])

# Reading from a CSV file
with open('example.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['John', '25', 'New York']
['Jane', '30', 'Chicago']

#### Code Explanation:

The above is a Python code that demonstrates how to write to and read from a CSV file using the csv module.

The code starts by importing the csv module.

Then, the with statement is used to open the example.csv file for writing. The file is opened in write mode ('w') and the newline parameter is set to an empty string to ensure that the file is written with the correct line endings for the operating system. Inside the with block, the csv.writer() function is used to create a writer object that can be used to write rows to the CSV file. The writerow() method is then used to write three rows of data to the file.

Next, another with statement is used to open the example.csv file for reading. The file is opened in read mode ('r') and the csv.reader() function is used to create a reader object that can be used to read rows from the CSV file. Inside the for loop, each row in the file is read and printed to the console using the print() function.

It's worth noting that the csv module provides many options for reading and writing CSV files, including support for custom delimiters, quoting, and escaping. So, this code provides only a basic example of using the module.

Also, it's important to ensure that the input data is properly formatted before writing to the CSV file, as unexpected characters or values can cause issues with the file's structure.

### Reading and Writing Txt files with Open function

In [64]:
# Writing to a text file
with open('example.txt', 'w') as file:
    file.write('Hello, world!')

# Reading from a text file
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hello, world!

### Additional notes on Reading and Writing to Excel, Image, and Audio file types

### Excel


#### Writing Data to Excel

To write data to an Excel file in Python, you can use the openpyxl module as well. Here is an example code that writes data to an Excel file:

In [97]:
from openpyxl import Workbook

# Create a new workbook
workbook = Workbook()

# Select a worksheet
worksheet = workbook.active

# Write data to a cell
worksheet['A1'] = 'Hello, World!'

# Save the workbook
workbook.save('example.xlsx')

In this example, we first create a new workbook using Workbook() function and then select the active worksheet using workbook.active. We then write the string 'Hello, World!' to cell A1 using worksheet['A1'] = 'Hello, World!'. Finally, we save the workbook to a file using workbook.save('example.xlsx').

#### Reading Data from Excel

To read from an Excel file in Python, you can use the load_workbook function from openpyxl package. Here is an example code that reads the data from an Excel file:

In [ ]:
from openpyxl import load_workbook

# Open the Excel file
workbook = load_workbook('example.xlsx')

# Select a worksheet
worksheet = workbook['Sheet1']

# Read data from a cell
value = worksheet['A1'].value
print(value)

# Loop through rows and columns
for row in worksheet.iter_rows(values_only=True):
    for cell in row:
        print(cell)

In this example, we first load the Excel file using load_workbook() function and then select the worksheet by its name using workbook['Sheet1']. We then read the value of cell A1 using worksheet['A1'].value and print it. Finally, we loop through all rows and columns in the worksheet using iter_rows() function and print the values of each cell.

### Images

To read images with the open() function in Python, you can use the PIL (Python Imaging Library) module. Here are the steps:

- Install the Pillow module by running pip install Pillow in your terminal.

- Import the Image module from the PIL package.

- Use the Image.open() method to open the image file. You can pass the file path as a string to this method.

- If you want to display the image, you can use the show() method.


Here is an example code that reads and displays an image:

In [98]:
!pip install Pillow #You can also run this command on your terminal (i.e. Anaconda prompt or cmd)

from PIL import Image

# Open the image
img = Image.open('beautiful_bug.jpg')

# Display the image
img.show()

#Note: The image might open with your computer's default image viewer.

ERROR: Invalid requirement: '#You'

### Audio files

To read and play audio files in Python, you can use the pydub library. Here's an example of how to use pydub to load and play an audio file:

In [112]:
!pip install playsound

from playsound import playsound

playsound(r"C:\\path\\to\\song\\of\\your\choice.mp3")

"ATTENTION: Please replace the C:\\path\\to\\song\\of\\your\choice.mp3 to an actual path on your computer"

Collecting playsound
  Using cached playsound-1.3.0.tar.gz (7.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: playsound
  Building wheel for playsound (setup.py): started
  Building wheel for playsound (setup.py): finished with status 'done'
  Created wheel for playsound: filename=playsound-1.3.0-py3-none-any.whl size=7020 sha256=5ec4077687c1f574f12cd68e8567bb9b5cf21bbc63c4e5ac1a36e60da4732847
  Stored in directory: c:\users\olanr\appdata\local\pip\cache\wheels\ba\39\54\c8f7ff9a88a644d3c58b4dec802d90b79a2e0fb2a6b884bf82
Successfully built playsound
Installing collected packages: playsound
Successfully installed playsound-1.3.0

In the above example, we simply pip install the module for playing sound, playsound. After that, we import the playsound class from the playsound module. After this, we simply pass the path to the song or audio we want to listen to in the bracket and voila!

### How to make CSV files

This is an interactive class

#### Homework


1. Create csv 5 files with separators different from the comma (,).

2. Get the data for the league table in the English Premier League after the 2020/21 season. The "Pos" or "Position" column is not well formatted. We need only the final position at the end of the season. The data can be found in the link given below:
https://www.premierleague.com/history/season-reviews/363

3. It is reported that the ratio of the Goal Difference (GD) in that season and the number of games played (Pl) by a team, reflects the final position of that team at the end of the season. Find this ratio for all the teams and confirm if the assertion that this ratio determines the teams' final positions is true or not.

4. If the table were ranked based on the ratio calculated above, instead of number of points (Pts), create a dataframe for this new table. It should have the following column headers: "Position (POS)", "Club", "Games Played (Pl)", "Goal Difference (GD)", "Net Goal per Game (Ratio)".


#### Optional
5. Open up the "beautiful_bug_2.jpg" file using code