1. Use the set methods listed above to perform operations involving sets.

In [1]:
S = {1, 3, 99, "justice", "Prince", 69}

S

{1, 3, 69, 99, 'Prince', 'justice'}

In [5]:
# .add adds a single element to a set

S.add("Silva")
    
S

{1, 3, 69, 99, 'Prince', 'Silva', 'justice'}

In [6]:
# .clear

S.clear()

S

set()

In [9]:
# .copy

S = {1, 3, 99, "justice", "Prince", 69}

S.copy()

{1, 3, 69, 99, 'Prince', 'justice'}

In [11]:
# .difference

D = {"Mustapha", "jacob", "Tinuke", 99, 44, 66, "Prince", 1}

D

{1, 44, 66, 99, 'Mustapha', 'Prince', 'Tinuke', 'jacob'}

In [15]:
S.difference(D)

{3, 69, 'justice'}

In [31]:
S = {1, 3, 99, "justice", "Prince", 69}

D = {"Mustapha", "jacob", "Tinuke", 99, 44, 66, "Prince", 1}

In [45]:
# .difference_update

S.difference_update(D)

S

{3, 'justice'}

In [43]:
# .discard

S.discard(69)

S

{1, 3, 99, 'Prince', 'justice'}

In [49]:
# .intersection

S = {1, 3, 99, "justice", "Prince", 69}

D = {"Mustapha", "jacob", "Tinuke", 99, 44, 66, "Prince", 1}

In [50]:
S.intersection(D)

{1, 99, 'Prince'}

In [51]:
# .intersection_update

S.intersection_update(D)

S

{1, 99, 'Prince'}

In [52]:
# .isdisjoint

S = {1, 3, 99, "justice", "Prince", 69}

D = {"Mustapha", "jacob", "Tinuke", 99, 44, 66, "Prince", 1}

S.isdisjoint(D)

False

In [55]:
# .issubset

S = {1, 3, 99, 69}

D = {99, 1}

S.issubset(D)

False

In [56]:
# .issuperset

S.issuperset(D)

True

In [69]:
# .pop

S = {1, 3, 99, "justice", "Prince", 69}

S.pop()

1

In [70]:
# .remove

S = {1, 3, 99, "justice", "Prince", 69}

S.remove(99)

S

{1, 3, 69, 'Prince', 'justice'}

In [74]:
# .symmetric_difference

S = {1, 3, 99, "justice", "Prince", 69}

D = {"Mustapha", "jacob", "Tinuke", 99, 44, 66, "Prince", 1}

S.symmetric_difference(D)

{3, 44, 66, 69, 'Mustapha', 'Tinuke', 'jacob', 'justice'}

In [75]:
# .symmetric_difference_update

S.symmetric_difference_update(D)

S

{3, 44, 66, 69, 'Mustapha', 'Tinuke', 'jacob', 'justice'}

In [76]:
# .union

S = {1, 3, 99, "justice", "Prince", 69}

D = {"Mustapha", "jacob", "Tinuke", 99, 44, 66, "Prince", 1}

S.union(D)

{1, 3, 44, 66, 69, 99, 'Mustapha', 'Prince', 'Tinuke', 'jacob', 'justice'}

In [79]:
# .update

S = {1, 3, 99, "justice", "Prince", 69}

V = (2, 5, 15, 24)

S.update(V)

S

{1, 15, 2, 24, 3, 5, 69, 99, 'Prince', 'justice'}

2. Find and use Tuple methods to perform operations involving tuples.

In [92]:
# Tuple methods

#tuple.count
#tuple.index
#tuple.mro

In [93]:

#tuple.count
S = (1, "Shina", "Josh", "Hassan", 99, 99, "Fikayo")

S

S.count(99)

2

In [95]:
#tuple.index

S.index("Josh")

2

In [99]:
#tuple.mro

S.mro

AttributeError: 'tuple' object has no attribute 'mro'

3. Find and use Dictionary methods to perform operations involving dictionaries.

In [101]:
# Dictionary Methods

#dict.clear
#dict.copy
#dict.fromkeys
#dict.get
#dict.items
#dict.keys
#dict.mro
#dict.pop
#dict.popitem
#dict.setdefault
#dict.update
#dict.values

In [13]:
Class_Register = {"Jacob" : 20, 
                  "Thomas" : 20, 
                  "Ashabi" : 17, 
                  "Donald" : 15, 
                  "Gbadebo" : 12}

Class_Register

{'Jacob': 20, 'Thomas': 20, 'Ashabi': 17, 'Donald': 15, 'Gbadebo': 12}

In [14]:
#dict.clear

Class_Register.clear()

Class_Register

{}

In [15]:
Class_Register = {"Jacob" : 20, 
                  "Thomas" : 20, 
                  "Ashabi" : 17, 
                  "Donald" : 15, 
                  "Gbadebo" : 12}

Class_Register

{'Jacob': 20, 'Thomas': 20, 'Ashabi': 17, 'Donald': 15, 'Gbadebo': 12}

In [16]:
#dict.copy

Class_Register.copy()

{'Jacob': 20, 'Thomas': 20, 'Ashabi': 17, 'Donald': 15, 'Gbadebo': 12}

In [26]:
Class_Register = {"Jacob" : 20, 
                  "Thomas" : 20, 
                  "Ashabi" : 17, 
                  "Donald" : 15, 
                  "Gbadebo" : 12}

Class_Register

#dict.fromkeys

Class_Register.fromkeys(Class_Register)

{'Jacob': None,
 'Thomas': None,
 'Ashabi': None,
 'Donald': None,
 'Gbadebo': None}

In [35]:
Class_Register = {"Jacob" : 20, 
                  "Thomas" : 20, 
                  "Ashabi" : 17, 
                  "Donald" : 15, 
                  "Gbadebo" : 12}

Class_Register

#dict.get

Class_Register.get("Jacob")

20

In [37]:
#dict.items

Class_Register.items()

dict_items([('Jacob', 20), ('Thomas', 20), ('Ashabi', 17), ('Donald', 15), ('Gbadebo', 12)])

In [38]:
#dict.keys

Class_Register.keys()

dict_keys(['Jacob', 'Thomas', 'Ashabi', 'Donald', 'Gbadebo'])

In [42]:
#dict.mro

Class_Register.mro()

AttributeError: 'dict' object has no attribute 'mro'

In [45]:
#dict.pop

Class_Register.pop("Ashabi")

17

In [47]:
#dict.popitem

Class_Register.popitem()

('Gbadebo', 12)

In [48]:
Class_Register.popitem()

('Donald', 15)

In [60]:
#dict.setdefault

Class_Register.setdefault("Name", "No_of_times_present")

'No_of_times_present'

In [61]:
#dict.update

Class_Register.update()

Class_Register

{'Jacob': 20,
 'Thomas': 20,
 'Ashabi': None,
 2: None,
 'Gbadebo': None,
 'Name': 'No_of_times_present'}

In [62]:
#dict.values

Class_Register = {"Jacob" : 20, 
                  "Thomas" : 20, 
                  "Ashabi" : 17, 
                  "Donald" : 15, 
                  "Gbadebo" : 12}

Class_Register

{'Jacob': 20, 'Thomas': 20, 'Ashabi': 17, 'Donald': 15, 'Gbadebo': 12}

In [64]:
Class_Register.values()

dict_values([20, 20, 17, 15, 12])

4. In the working_with_tables_homework.csv file, find a way to separate the email service provider from each sales representatative's email into a separate column.

In [25]:
import pandas as pd

data = pd.read_csv("working_with_tables_homework.txt")

data

    Firstname   Lastname   age   sales   cost                      email
0  Olanrewaju     Kazeem  [24]   15000  11000     olankaz248@outlook.com
1     Chibuzo     Ekenne  [30]   25800  15200   chiman_ekeneks@yahoo.com
2  Onyinyechi       Amos  [22]   45000  28000       onyiamos22@gmail.com
3     Orlando      Bloom  [25]   28000  22000       earlyman01@ymail.com
4        Alex      Iwobi  [34]   36500  18850     iwo.alex_007@gmail.com
5       Kachi      Felix  [50]   44235  33218  felix_kach@protonmail.com
6     Olujare       Dada  [28]   27500  25800    olu59_dada@zohomail.com
7      Tomiwa    Sogaolu  [42]   50509  34850   tommySolu@icloudmail.com
8   Timilehin  Kupolokun  [49]   88390  76001     timikupo11@outlook.com
9       Nnena    Dickson  [39]  122200  85900           nene33@gmail.com

In [48]:
data["email"].str.replace("")

SyntaxError: invalid syntax (2331675175.py, line 1)

5. There are 8 students in a room: Alicia, Ope, Fiyin, Emeka, Kenny, Timothy, Grace, and Kunle. Use this information to answer the following questions:

a. If one more person named Emeka joins these 8 students, which data structure can we use to represent this information?

In [62]:
S = ["Alicia", "Ope", "Fiyin", "Emeka", "Kenny", "Timothy", "Grace", "Kunle"]

S

['Alicia', 'Ope', 'Fiyin', 'Emeka', 'Kenny', 'Timothy', 'Grace', 'Kunle']

In [63]:
G = ["Emeka"]

S += G

S

['Alicia',
 'Ope',
 'Fiyin',
 'Emeka',
 'Kenny',
 'Timothy',
 'Grace',
 'Kunle',
 'Emeka']

5b. If there are two groups, A and B. Ope, Fiyin, Timothy, and Kunle are in group A while, Alicia, Emeka, Kenny, Timothy, and Ope are in group B. Which data structure can help us find the students common to both groups?

In [1]:
A = {"Ope", "Fiyin", "Timothy", "Kunle"}

B = {"Alicia", "Emeka", "Kenny", "TImothy", "Ope"}

A.intersection(B)

{'Ope'}

5c. If we want these 8 students to vote for who would be class president between Sandra and Michael, and we want to be able to know the order in which the students voted (e.g Emeka voted first, Alicia voted second, and so on), what data structure should we use?

In [6]:
Student_Voters = ["Emeka", "Alicia", "Ope", "Kenny", "Kunle", "Fiyin", "Timothy", "Kenny"]

Student_Voters

['Emeka', 'Alicia', 'Ope', 'Kenny', 'Kunle', 'Fiyin', 'Timothy', 'Kenny']

5d. If the scenario in question 3 is repeated, but this time, we do not care about the order in which the students voted, what data structure should we use?

In [7]:
Student_Voters = {"Emeka", "Alicia", "Ope", "Kenny", "Kunle", "Fiyin", "Timothy", "Kenny"}

Student_Voters

{'Alicia', 'Emeka', 'Fiyin', 'Kenny', 'Kunle', 'Ope', 'Timothy'}

5e. If we wanted to record the number of votes that Michael and Sandra got from the election, which data structure is best suited for the task?

In [10]:
Votes = {"Michael" : 6, "Sandra" : 2}

Votes

{'Michael': 6, 'Sandra': 2}